### Eclipse ###
.metadata
.classpath
.project
.settings/
.recommenders
.loadpath

# 빌드 산출물
**/bin/
**/build/
**/target/
*.class

# 임시/백업/로그
*.tmp
*.bak
*.swp
*~
*.nib
*.log
### Eclipse ###
.classpath
.project
.settings/
.recommenders
.loadpath
