### Eclipse ###
.metadata
.classpath
.project
.settings/
.recommenders
.loadpath

# Build outputs (어디에 있어도 전부 무시)
**/bin/
**/build/
**/build.classes/
**/out/
**/target/
*.class

# 임시/백업/로그
*.tmp
*.bak
*.swp
*~
*.nib
*.log
### Eclipse ###
.classpath
.project
.settings/
.recommenders
.loadpath